@import '../../variables.scss';

.post-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.card-container {
		min-width: 99%;
		height: 99vh;
		height: auto;
		font-family: $font-content;
		line-height: 20px;

		.text {
			text-align: center;
			font-size: 1em;
		}

		img {
			margin-bottom: 20px;
		}

		.post-title {
			font-family: $font-header;
			font-size: 1.5em;
			line-height: 50px;
		}

		div {
			margin: 0 0 20px 0;
		}
	}
}

//must credit on marketing page to use graphics
// <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
