//Colors

$grey: #AFAFAF;
$nav-grey: #404040;

//Fonts 

$font-content: Montserrat;
$font-header: Open Sans;

$font-size-content: 1.5em;
$font-size-edit: 1.2em;

//widths

$tablet: "(min-width: 500px)";
$desktop: "(min-width: 500px)";


